body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F0FFF0;
}
h3{
    color: blueviolet;
}
#logo{
    border: 2px solid rebeccapurple;
    box-shadow: 5px 5px 10px;
}
#home-btn{
    color: white;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 225px;
}
#di{
    color: blue;
}
#it{
    color: green;
}
.second-bracket{
    color: deeppink;
}
#di, #it, .second-bracket{
    font-size: 40px;
    font-family: 'Gemunu Libre';
}
.icon-hover:hover{
    cursor: no-drop;
}
.fas.fa-book{
    color: wheat;
}
#search-bar{
    margin-left: 300px;
}
#sign-up{
    border: 1px solid white;
}
.semester{
    border: 1px solid green;
    padding: 20px;
    padding-left: 40px;
    color: white;
    background-color: #3CB371;
    font-weight: 500;
}
.semester:hover{
    background-color: #228B22;
    cursor: pointer;
}
#semester-section{
    margin-left: 220px;
}
#top-nav{
    margin-left: 175px;
}