body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F0FFF0;
}
h3{
    color: blueviolet;
}
h4{
    margin-left: 200px;
}
#logo{
    border: 2px solid rebeccapurple;
    box-shadow: 5px 5px 10px;
}
#home-btn{
    color: white;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 225px;
}
.icon-hover:hover{
    cursor: no-drop;
}
.fas.fa-book{
    color: wheat;
}
.fas.fa-home{
    font-size: 30px;
}
#search-bar{
    margin-left: 300px;
}
#forgot-password{
    text-decoration: none;
    color: black;
    font-weight: lighter;   
}
#forgot-password-div{
    margin-left: 158px;
}
.login-signup-btn{
    border-radius: 50px;
    margin-left: 60px;
}
.fab.fa-facebook-square{
    color: blue;
    margin-left: 160px;
}
.fab.fa-twitter-square{
    color: #1DA1F2;
}
.fab.fa-instagram-square{
    color: rgb(221, 65, 65);
}
.fab.fa-facebook-square, .fab.fa-twitter-square, .fab.fa-instagram-square{
    font-size: 50px;
    border-radius: 40px;
}
#alternate-sign-in{
    margin-left: 175px;
}
#sign-up{
    border: 1px solid white;
}
#nu-contents{
    margin-left: 270px;
}
.fas.fa-chalkboard-teacher{
    color: orchid;
}
.semester{
    border: 1px solid green;
    padding: 20px;
    padding-left: 40px;
    color: white;
    background-color: #3CB371;
    font-weight: 500;
}
.semester:hover{
    background-color: #228B22;
    cursor: pointer;
}
#semester-section{
    margin-left: 220px;
}
#top-nav{
    margin-left: 175px;
}
.center-heading{
    text-align: center;
}
.thumbnail img{
    width: 350px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 13px;
}
.blog{
    width: 30%;
    align-items: center;
    float: left;
    padding: 15px;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 7px 7px 20px gray;
}
.blog-info{
    margin-top: 10px;
    grid-auto-flow: column;
}
.fas.fa-star, .fas.fa-star-half-alt, .far.fa-star{
    color: #ffd900a8
}
.set-margin{
    margin-top: 10px;
    margin-left: 120px;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#video-gallery{
    margin-left: 400px;
}
iframe{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}
.fab.fa-youtube{
    color: red;
}
.fas.fa-book-open{
    color: deeppink;
}